<%- include('./partials/html-head') %>
<%- include('./partials/nav.ejs') %>

<main>
  
  <% if (user?.profile.avatar) { %>
    <div class="avatar">
      <img 
      src="<%= user.profile.avatar %>" 
      alt="<%= user.profile.name %> avatar"
      >
      <h1 class="name">Hello, <%= user ? user.profile.name : " there!!"  %></h1>
    </div>
    <% } %>
    <div>
        <a class="new" href="/profiles/new">new profile</a>
        <a class="create" href="/schedules/new">Create Schedule</a>
      </div>
      </main>
    
   
  
<%- include('./partials/footer.ejs') %>
